body {
  margin: 0;
  background-image: url("bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: hsla(0, 100%, 10);
  width: 100%;
}
